.filter{
    width: 40%;
}

.filters{
    width: 100%;
}

.clear{
    height: 60px;
    display: flex;
    align-items: center;
}
.hoverButton{
    width: 100px;
}
.popoutWindow{
    max-height: 200px;
    max-width: 400px;
    overflow: auto;
}