.NewsSourcesList {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.sources-general-text {
  font-weight: bold;
  font-size: 25px;
  margin: 0 auto;
  color: #002647;
}

.ant-card-bordered {
  background-color: #002647 !important;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
